 body {
     font-family: "Open Sans", sans-serif;
     color: #ffffff;
 }

 a {
     color: #34b7a7;
     text-decoration: none;
 }

 a:hover {
     color: #51cdbe;
     text-decoration: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Raleway", sans-serif;
 }

 #main {
     margin-top: 50px;
 }

 @media (max-width: 992px) {
     #main {
         margin-top: 30px;
     }
 }
 @media (max-width: 374px) {
    * {
      overflow-x: hidden  ;
    }
}


 /*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
 #preloader {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     overflow: hidden;
     background: #fff;
 }

 #preloader:before {
     content: "";
     position: fixed;
     top: calc(50% - 30px);
     left: calc(50% - 30px);
     border: 6px solid #34b7a7;
     border-top-color: #dcf5f2;
     border-radius: 50%;
     width: 60px;
     height: 60px;
     -webkit-animation: animate-preloader 1s linear infinite;
     animation: animate-preloader 1s linear infinite;
 }

 @-webkit-keyframes animate-preloader {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 @keyframes animate-preloader {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
 .back-to-top {
     position: fixed;
     visibility: hidden;
     opacity: 0;
     right: 15px;
     bottom: 15px;
     z-index: 996;
     background: #34b7a7;
     width: 40px;
     height: 40px;
     border-radius: 50px;
     transition: all 0.4s;
 }

 /* @media(max-width:320px){
     .back-to-top{
         right: 15vh;
     }
 } */

 .back-to-top i {
     font-size: 24px;
     color: #fff;
     line-height: 0;
 }

 .back-to-top:hover {
     background: #49cbbb;
     color: #fff;
 }

 .back-to-top.active {
     visibility: visible;
     opacity: 1;
 }

 /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
 #header {
     box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
     z-index: 997;
     padding: 15px 0;
 }

 #header .logo {
     font-size: 32px;
     margin: 0;
     padding: 0;
     line-height: 1;
     font-weight: 400;
     letter-spacing: 2px;
     text-transform: uppercase;
 }

 #header .logo a {
     color: #fff;
 }

 #header .logo img {
     max-height: 40px;
 }

 @media (max-width: 992px) {
     #header .logo {
         font-size: 28px;
     }
 }

 /*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
 .header-social-links {
     padding-right: 15px;
 }
 @media (max-height: 653px) {
    .header-social-links {
        padding-right: 10px;
    } 
    
}

 .header-social-links a {
     color: #fff;
     padding-left: 6px;
     display: inline-block;
     line-height: 0px;
     transition: 0.3s;
     font-size: 16px;
 }

 .header-social-links a:hover {
     color: #34b7a7;
 }

 /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
 #hero {
     width: 100%;
     height: 100vh;
     background-color: #001935;
     background-size: cover;
 }

 #hero .container {
     padding-top: 70px;
     position: relative;
 }

 @media (max-width: 992px) {
     #hero .container {
         padding-top: 58px;
     }
 }

 #hero h1 {
     margin: 0;
     font-size: 80px;
     font-weight: 600;
     line-height: 76px;
     color: #fff;
 }

 #hero h2 {
     color: #fff;
     margin: 10px 0 0 0;
     font-size: 26px;
     width: 75%;
 }

 #hero .btn-about {
     font-family: "Raleway", sans-serif;
     text-transform: uppercase;
     font-weight: 600;
     font-size: 12px;
     letter-spacing: 1px;
     display: inline-block;
     padding: 12px 40px;
     border-radius: 50px;
     transition: 0.5s;
     margin-top: 30px;
     color: #fff;
     background: #34b7a7;
 }

 #hero .btn-about:hover {
     background: #3dc8b7;
 }

 @media (min-width: 1024px) {
     #hero {
         background-attachment: fixed;
     }
 }

 @media (max-width: 992px) {
     #hero:before {
         content: "";
         position: absolute;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
     }

     #hero h1 {
         font-size: 58px;
         line-height: 36px;
     }

     #hero h2 {
         font-size: 18px;
         line-height: 24px;
     }
 }
 @media (max-width: 320px) {
     #hero:before {
         content: "";
         position: absolute;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
     }

     #hero h1 {
         font-size: 21px;
         line-height: 36px;
     }

     #hero h2 {
         font-size: 13px;
         line-height: 24px;
     }
 }
 @media (max-width: 375px) {
     #hero:before {
         content: "";
         position: absolute;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
     }

     #hero h1 {
         font-size: 21px;
         line-height: 36px;
     }

     #hero h2 {
         font-size: 13px;
         line-height: 24px;
     }
 }

 /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
 section {
     padding: 60px 0;
 }

 .section-title {
     text-align: center;
     padding-bottom: 30px;
 }


 /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
 .about-1 {
     background: #001935;
 }
 .about {
     background: #00cf35;
 }

 .about h2 {
     font-weight: 500;
     font-size: 48px;
     color: #ffffff;
 }

 .about p {
     font-size: 16px;
     color: #ffffff;
 }
 @media (max-width: 320px) {
    
    .about h2 {
        font-size: 21px;
        line-height: 26px;
    }
    .about h5 {
        font-size: 15px;
        line-height: 26px;
    }
    .about p {
        font-size: 13px;
        line-height: 26px;
    }

    .about .img-fluid {
        width: 84px;
        line-height: 24px;
    }
}


 /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
 .services .icon-box {
     text-align: center;
     padding: 70px 20px 80px 20px;
     transition: all ease-in-out 0.3s;
     background: #fff;
     box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
 }

 .services {

     background: #7c5cff;
 }


 .services .icon-box h4 {
     font-weight: 600;
     margin: 10px 0 15px 0;
     font-size: 22px;
     color: black;
 }

 .services .icon-box p {
     line-height: 24px;
     font-size: 14px;
     margin-bottom: 0;
     color: black;
 }
 @media (max-width: 320px) {
    
    .services h2 {
        font-size: 21px;
        line-height: 26px;
    }
    .services h5 {
        font-size: 15px;
        line-height: 26px;
    }
    .services p {
        font-size: 13px;
        line-height: 26px;
    }

    
 }

 /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
 .contact {
     background: #ff0000;
 }

 .contact p,
 h2 {
     color: white;
     text-align: center;
 }


 .contact .info {
     width: 100%;
     background: #ff0000;
 }


 .contact .info i {
     font-size: 20px;
     color: #34b7a7;
     float: left;
     width: 44px;
     height: 44px;
     background: #ffffff;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50px;
     transition: all 0.3s ease-in-out;
 }

 .contact .info h4 {
     padding: 0 0 0 60px;
     font-size: 22px;
     font-weight: 600;
     margin-bottom: 5px;
     color: #fff;
 }

 .contact .info p {
     padding: 0 0 0 60px;
     margin-bottom: 0;
     font-size: 14px;
     color: #fff;
 }

 .contact .info .email,
 .contact .info .phone {
     margin-top: 40px;
 }

 .contact .info .email:hover i,
 .contact .info .address:hover i,
 .contact .info .phone:hover i {
     background: #34b7a7;
     color: #fff;
 }

 .contact .php-email-form {
     width: 100%;
     background: red;
 }

 .contact .php-email-form .form-group {
     padding-bottom: 8px;
 }

 .contact .php-email-form .error-message {
     display: none;
     color: #fff;
     background: #ed3c0d;
     text-align: center;
     padding: 15px;
     font-weight: 600;
 }

 .contact .php-email-form .sent-message {
     display: none;
     color: #fff;
     background: #18d26e;
     text-align: center;
     padding: 15px;
     font-weight: 600;
 }

 .contact .php-email-form .loading {
     display: none;
     background: #fff;
     text-align: center;
     padding: 15px;
 }

 .contact .php-email-form .loading:before {
     content: "";
     display: inline-block;
     border-radius: 50%;
     width: 24px;
     height: 24px;
     margin: 0 10px -6px 0;
     border: 3px solid #18d26e;
     border-top-color: #eee;
     -webkit-animation: animate-loading 1s linear infinite;
     animation: animate-loading 1s linear infinite;
 }

 .contact .php-email-form input,
 .contact .php-email-form textarea {
     border-radius: 4px;
     box-shadow: none;
     font-size: 14px;
 }

 .contact .php-email-form input:focus,
 .contact .php-email-form textarea:focus {
     border-color: #34b7a7;
 }

 .contact .php-email-form input {
     height: 44px;
 }

 .contact .php-email-form textarea {
     padding: 10px 12px;
 }

 .contact .php-email-form button[type=submit] {
     background: #34b7a7;
     border: 0;
     padding: 10px 30px 12px 30px;
     color: #fff;
     transition: 0.4s;
     border-radius: 50px;
 }

 .contact .php-email-form button[type=submit]:hover {
     background: #3dc8b7;
 }

 @-webkit-keyframes animate-loading {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 @keyframes animate-loading {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }
 .details{
    background-color:#18d26e;
    color:white;
    display: flex;

 }
 .factsheet{
     width: 100vh;
     padding: 20px;
     margin-left: 20px;
     
    
 }
 @media (max-width: 320px) {
    .details{
        display: block;
    }
    .factsheet{
        margin-left: 5px;
        width: 60vh;
    }
    .details .factsheet h5 {
        font-size: 21px;
        line-height: 26px;
    }
    .details .factsheet li {
        font-size: 13px;
        line-height: 26px;
    }

    
 }
 @media (max-width: 375px) {
    .details{
        display: block;
    }
    .factsheet{
        margin-left: 5px;
        width: 60vh;
    }
    .details .factsheet h5 {
        font-size: 21px;
        line-height: 26px;
    }
    .details .factsheet li {
        font-size: 13px;
        line-height: 26px;
    }

    
 }
 .nextbtn{
     background-color: #3dc8b7;
     font-size: 50px;
     width: 50px;
     text-align: center;
     font-weight: 800;
     /* margin-left: 45vw; */
     margin: 20px;
     
 }
 .images{
     display: block;
 }
 
 /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
 #footer {
     background: #f5a80e;
     padding: 30px 0;
     color: #fff;
     font-size: 14px;
     text-align: center;
 }

 #footer .credits {
     padding-top: 5px;
     font-size: 13px;
 }

 #footer .credits a {
     color: #34b7a7;
 }
